*{
  font-family: 'Montserrat', sans-serif;
}
.container-fluid{
  padding: 3% 15%;
}
.btn{
  font-family: 'Montserrat-black', sans-serif;
}

   
*h1 {
  font-family: 'Montserrat-black', sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
}
.nav-link{
  font-family: 'Montserrat-thin', sans-serif;
}

#title{
background-color:#ff4c68 ;
}